<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning html/template function</title>
</head>
<body>
    <p>
        {{html "<h2>hello</h2>"}}
    </p>
    {{if eq .Name "Bruce Wayne"}}
        <p>I'm the Batman!</p>
    {{else if ne .Name "Clark Kent"}}
        <p>I'm neither Batman or Superman</p>
    {{end}}
    <p>
        {{.SayHello "Gotham citizen" "You are our Hero!"}}
    </p>
    <p>
        {{printf "%s because I'm %s" "You know why?" "Batman!"}}
    </p>
    <p>
        Batman have many friends. {{len .Friends}} of them are:
        {{index .Friends 0}},
        {{index .Friends 1}}, and 
        {{index .Friends 2}}
    </p>
    {{$cond1 := true}}
    {{$cond2 := false}}

    {{if or $cond1 $cond2}}
        <p>Be like Batman!</p>
    {{end}}
</body>
</html>